# APPLICATION
APPLICATION_ENV=development
APPLICATION_HOSTNAME=0.0.0.0
APPLICATION_EXTERNAL_PORT=3000
APPLICATION_INTERNAL_PORT=3000
APPLICATION_DEBUG_PORT=6499

# POSTGRES
POSTGRES_DB_USERNAME=zexserver
POSTGRES_DB_PASSWORD=password
POSTGRES_DB_NAME=zexserver
POSTGRES_DB_EXTERNAL_PORT=5432
POSTGRES_DB_INTERNAL_PORT=5432

# REDIS
REDIS_EXTERNAL_PORT=6379
REDIS_INTERNAL_PORT=6379
REDIS_ROOT_USERNAME=
REDIS_ROOT_PASSWORD=
